.game {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 4em auto;
}

.game__btn {
  position: absolute;
  right: 0;
}

.game__placeholder-text {
  font-size: 48px;
  text-align: center;
  width: 100%;
}