.highscore {
    flex-basis: calc(33.33% - 2em);
    font-size: 20px;
    margin: 0 1em;
    padding-bottom: .5em;
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.1);;
}

.highscore__list {
    padding-left: 0;
    max-width: 50px;
    list-style-type: upper-roman;
    margin: 0 auto;
}

.highscore__item {
    font-size: 18px;
}

.highscore__label {
    margin: 10px;
    font-size: 18px;
}