.highscore-board {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     margin-bottom: 10px;
}

.highscore-board__title {
    flex-basis: 100%;
    margin: 0 auto 5px auto;
    font-size: 26px;
}