.scoreboard {
}

.scoreboard__score {
  background:rgba(255,255,255,0.2);
  padding:0 3rem;
  line-height:1;
  border-radius:1rem;
}

.scoreboard__title {
  text-align: center;
  font-size: 10rem;
  line-height:1;
  margin-bottom: 0;
  margin-top: 0;
}