.score {
  width: 100%;
}

.score__number {
  background:rgba(255,255,255,0.2);
  padding:0 3rem;
  line-height:1;
  border-radius:1rem;
  flex-grow: 1;
  flex-basis: 15%;
}

.score__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 4em;
  padding: 0 1rem;
  line-height:1;
  margin-bottom: 0;
  margin-top: 0;
}

.score__logo {
  flex-grow: 1;
  flex-basis: 15%;
}

.score__text {
  flex-grow: 3;
  flex-basis: 70%;
}

@media(min-width: 420px) {
  .score__title {
    font-size: 7rem;
  }
}
